/* src/App.css */
.app {
  display: flex;
  min-height: 100vh;
}

.content {
  margin-top: 60px;
  margin-left: 0;
  padding: 20px;
  flex: 1;
  transition: margin-left 0.3s ease-in-out;
}

.sidebar-open .content {
  margin-left: 200px; /* Adjust this width based on your sidebar width */
}

@media (max-width: 768px) {
  .content {
    margin-left: 0;
  }

  .sidebar-open .content {
    margin-left: 0;
  }
}
