/* src/components/static/css/popupForm.css */

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px; /* Adjust width as needed */
  max-height: 80vh; /* Set maximum height */
  overflow: hidden; /* Hide overflow on the popup itself */
  position: relative;
}

h2 {
  margin-top: 0;
}

.scrollable-form {
  max-height: 60vh; /* Limit the height of the form inside the popup */
  overflow-y: auto; /* Allow vertical scrolling */
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.form-buttons button {
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  background-color: #337bb6;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.form-buttons button:hover {
  background-color: #0056b3;
}
