/* src/components/Sidebar.css */
.sidebar {
    width: 200px;
    background-color: #337bb6;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -200px;
    transition: left 0.3s ease-in-out;
    z-index: 999;
  }
  
  .sidebar.open {
    left: 0;
  }
  
  /* Add padding to ensure the sidebar content is pushed below the header */
  .sidebar-content {
    padding-top: 80px; /* Adjust this value based on your header height */
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar ul li {
    padding: 15px 20px;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  
  .sidebar ul li:hover {
    background-color: #286497;
  }
  
  .sidebar ul li:active {
    transform: scale(0.98);
  }
  